openapi: 3.0.3
info:
  title: Clientes Service API
  version: 1.0.0
paths:
  /api/clients:
    get:
      summary: List clients
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: email
          schema:
            type: string
      responses:
        '200':
          description: OK
    post:
      summary: Create client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '201':
          description: Created
  /api/clients/{id}:
    get:
      summary: Get client
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: OK
    put:
      summary: Update client
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Client'
      responses:
        '200':
          description: OK
    delete:
      summary: Delete client
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: No Content

components:
  schemas:
    Client:
      type: object
      properties:
        name:
          type: string
        email:
          type: string
        phone:
          type: string
        cpf:
          type: string
